@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
 }

 body {
     min-height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     background-color: rgba(41, 34, 34, 0.959);
     font-family: "Figtree", sans-serif;
     /* justify-content: center; */
 } 

 h1 {
    margin-top: 1em;
    color: rgb(248, 232, 6);
 }

 section {
    background-color: rgb(167, 157, 157);
    width: 520px;
    text-align: center;
    margin-top: 2em;
    border-radius: 5px;
    padding: .8em;

 }

 ul {
    list-style-type: none;
 }

 li {
   margin: 20px 0;
 }

 .linha-tarefa {
  border: none; 
  height: 1px; 
  background-color: #000; 
  margin: 3px 30px;
 }

 footer {
    margin-top: 1em;
 }

 footer input {
     flex: auto;
     padding: 5px;
 } 

 .botao {
    color: white;
    margin: none;
    padding: 6px;
    border-radius: 4px;
    border: none;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    
 }

 .botao:hover {
   padding: 8px;
   transition: .2s;
   cursor: pointer;
   font-weight: bold;
 }
 
 #botaoAdd {
   background-color: rgb(19, 59, 119);
 }

 #botaoLimpar {
   background-color: rgb(221, 57, 17);
 }

 #botaoRemover {
   background-color: black;
   padding: .5em;
   font-size: .75em;
  /* display: flex;
   flex-direction: row; */
 }